@import 'variables.scss';

.flex-end {
    justify-content: flex-end;
}

.content {
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: $shadow-sm;
    border-radius: 5px;
    &.p-0 {
        padding: 0px;
    }
    &.boxshadowless {
        box-shadow: none;
    }
}

.list-group-item {
    cursor: pointer;
    border: none;
    padding-left: 30px;
    position: relative;
    font-weight: 600;
    &.active {
        .title,
        path {
            color: $primary;
        }
        background-color: inherit;
    }
    svg {
        font-size: 0.8rem;
        left: 2px;
        @include v-middle;
    }
    .chevron {
        right: 10px;
        left: auto;
        @include v-middle;
        transition: all 0.2s;
        &.rotate {
            transform: rotate(180deg);
            top: 1.1rem;
            transition: all 0.2s;
        }
    }
}
.collapse-container {
    display: none;
    padding-left: 15px;
    background-color: $lighter-gray;
    width: 100%;
    .list-group-item {
        background-color: $lighter-gray;
    }
    &.show {
        display: block;
    }
}

.collapse {
    .collapse-toogle {
        cursor: pointer;
        border: none;
        padding-left: 30px;
        position: relative;
        font-weight: 600;
        &.active {
            .title,
            path {
                color: $primary;
            }
            background-color: inherit;
        }
        svg {
            font-size: 0.8rem;
            left: 2px;
            @include v-middle;
        }
        .chevron {
            right: 10px;
            left: auto;
            @include v-middle;
            transition: all 0.2s;
        }
    }
    .collapse-container {
        display: none;
        padding-left: 15px;
        background-color: $lighter-gray;
        width: 100%;
        .list-group-item {
            background-color: $lighter-gray;
        }
        &.show {
            display: block;
        }
    }
}

@include mobile {
    .mobile-dateselector {
        justify-content: center;
        width: 100%;
        .horizontal-form-group {
            flex: 0;
            align-items: center;
        }
    }
}

.fast-add {
    h5 {
        font-weight: 600;
    }
    .actions-list {
        display: flex;
        justify-content: space-between;
        .action {
            flex-basis: 30%;
            text-align: center;
            font-weight: 600;
            padding: 8px;
            display: flex;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            border: 1px solid;
            border-radius: 4px;
            &:hover {
                box-shadow: $shadow-sm;
            }
            .plus {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 2px solid $gray;
                align-items: center;
                justify-content: center;
                display: flex;
                font-size: 0.7rem;
                path {
                    color: $gray;
                }
            }
            &.primary {
                color: $primary;
                .plus {
                    border-color: $primary;
                }
                path {
                    color: $primary;
                }
            }
            &.danger {
                color: $danger;
                .plus {
                    border-color: $danger;
                }
                path {
                    color: $danger;
                }
            }
        }
    }
}

.bottom-alert {
    padding: 15px;
    position: fixed;
    background-color: $primary;
    border-radius: 5px ;
    bottom: 15px;
    right: 15px;
    z-index: 1051;
    box-shadow: $shadow-sm;
    @include mobile{
        left: 15px;
    }
    .message {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        align-items: center;
        p{
            display: flex;
            color: $white;
            font-weight: 600;
            margin: 0;
        }
        .hide {
            cursor: pointer;
            margin-left: 15px;
            path {
                color: $white;
            }
        }
    }
}


.card-month-resume{
    min-width: 380px;
    .card-body{
        display: flex;
        justify-content: space-between;
    }
    .month-info{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $lighter-gray;
        border-radius: 5px;
        width: 100px;
        height: 100px;
        color: $danger;
        font-weight: 700;
        font-size: 1rem;
        margin: 0 auto;
    }
    .pending,
    .resume{
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .pending-value{
        font-size: 1.6rem;
    }
    @include extra-small{
        min-width: auto;
        .resume{
            font-size: 0.7rem;
        }
        .pending{
            font-size: 0.7rem;
            .pending-value{
                font-size: 1rem;
            }
        }
        .month-info{
            width: 60px;
            height: 60px;
            font-size: 0.7rem;
            align-self: center;
        }
    }
    &.extract{
        .month-info{
            border-color: $gray;
        }
    }
}