@import 'variables.scss';

.error-page{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @include mobile{
        height: 100vh;
    }
    h1{
        color: $primary;
        font-size: 6rem;
        margin-bottom: 10px;
    }
    h5{
        color: $gray;
        font-size: 1.5rem;
    }
}