@import 'mixins';


.date-label{
    width: 100%;
    text-align: center;
}

.input-group{
    &.date{
        .form-control{
            text-align: center
        }
    }
}

.react-calendar.small-calendar {
    width: 100%;
    border: 0px;
    font-size: 11px;
    clear: both;
    .react-calendar__month-view__days__day--weekend{
        font-weight: 600;
    }

    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus {
        background: $brand-primary;
    }

    .react-calendar__tile {
        padding: 0.3em;
    }

    .react-calendar__navigation{
        height: 25px;
        margin-bottom: 5px;
    }

    .react-calendar__navigation button{
        min-width: 20px;
    }

    abbr[data-original-title], abbr[title] {
        cursor: initial;
        border: 0px solid;
        text-decoration: none;
        font-weight: 800;
    }

    .react-calendar__tile--active{
        background-color: $brand-primary;
    }
    
    .react-calendar__century-view {
        font-size: 9px;
    }

    @media screen and (max-width: 767px){
        .react-calendar__navigation{
            height: 50px;
        }
        .react-calendar__navigation button {
            min-width: 40px;
        }
        .react-calendar__tile{
            padding: 15px;
        }
    }

}

.date.collapsed{
    .react-calendar{
        position: absolute;
        z-index: 2;
        box-shadow: 0px 2px 2px #0000004f;
        top: 30px;
        padding: 2px;
    }
}

.datepicker-container{
    .date.collapsed .react-calendar{
        top: 60px;
    }
    .input-group{
        width: 100%;
    }
}

@media screen and (max-width: 980px){
    .input-group{
        &.date{
            .form-control,
            .date-label{
                text-align: left;
            }
        }
    }
}