@import "mixins";

/* Carousel
   ========================================================================== */

.carousel-footer {
    overflow: hidden;
    margin-bottom: 5px;
    
    &>strong {
        line-height: 1.75;
    }

    &.top-space {
        margin-top: 25px;
    }
    
}

.carousel-controller {
    float: left;
    margin-right: 12px;

    a.btn-carousel {
        color: $brand-white;
        background-color: $brand-primary;
        float: left;
        padding: 2px 6px;
    }

    a.btn-carousel:hover {
        background-color: #585858;
        color: $brand-white;
    }
}