@import 'mixins';

.styled-checkbox {
    position: absolute; 
    opacity: 0;
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
  
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: $gray-lighter;
    }
  
    &:checked + label:before {
      background: $brand-primary;
    }
    
    &:disabled + label {
      color: $gray-light;
      cursor: auto;
    }
  
    &:disabled + label:before {
      box-shadow: none;
      background:$gray-light;
    }
  
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }

    &:hover:disabled + label:before {
      background: $gray-light !important;
    }
    &+label{
      span{
        position: absolute;
        top: 2px;
      }
    }
}

.styled-checkbox.danger{
    &:checked + label:before {
        background: $brand-danger;
    }
}
  
.styled-checkbox.default{
    &:checked + label:before {
        background: $gray;
    }
}
  