@import "mixins";
@import 'hack';
@import 'checkbox';
@import 'collumns';
@import 'tooltip.scss';

/* Globals
   ========================================================================== */

html {
    height: 100%;
}

body {
    font-family: $font-family-base;
    height: 100%;
    color: $gray-dark;
    background-color: $gray-lighter;
    &.login-page {
        background-color: $gray-darker;
    }
    &.page-error {
        background-color: $gray-lighter;
    }
}

body,
.form-control,
.dropdown-menu{
    font-size: $default-font-size;
}

img {
    max-width: 100%;
    height: auto;
}

img.avatar {
    width: 60px;
    height: 60px;
    box-shadow: 0px 2px 2px inset #cdcdcd;
    border: 1px solid #ffffff;
}

.md-editor {
    margin-bottom: 30px;
}

.jvectormap-section {
    margin-bottom: 15px;
}

.gray-bg {
    background-color: $gray-lighter !important;
}

hr {
    border-color: #dedede;
    border-bottom: solid 1px #FFF;
}

.entry-header {
    @include clearfix();
}

.no-margins {
    margin: 0 !important;
}

.col-with-divider div[class*="col-"] {
    border-left: solid 1px #ddd;
    &:first-child {
        border: 0 none;
    }
}

.no-border {
    border: 0 none !important;
}

i.ellipsis-icon {
    @include rotate(90deg);
    font-size: 18px;
    margin: 0 0 0 5px;
}

.height-13 {
    height: 13px;
}

.height-15 {
    height: 15px;
}

.height-50 {
    height: 50px;
}

.embed-section {
    margin-bottom: 20px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-l-20 {
    margin-left: 20px;
}

.line-dashed {
    border-top: 1px dashed #DDD;
    height: 1px;
    margin: 20px auto;
}

.entry-header {
    border-bottom: solid 1px #dedede;
    padding: 0 15px 8px;
    margin-bottom: 30px;
}

.page-title {
    font-size: $large-font-size;
    margin-bottom: 0px;
    color: $brand-primary;
    font-weight: 500;
}

.page-title.danger{
    color: $brand-danger
}

.page-heading .page-title {
    margin-bottom: 10px;
}

.page-heading .btn-add {
    margin: 3px 0 0 15px;
}

.entry-header .page-title {
    float: left;
    margin: 10px 0;
}

.bg-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.input-group .form-control{
    z-index: 0;
}


.panel-minimal .panel-body {
    padding: 0 15px;
}

.panel-minimal .panel-tool-options li:hover {
    color: $brand-primary;
}

.panel-minimal .panel-tool-options li {
    margin-left: 10px;
}

.panel-minimal .panel-tool-options {
    margin-top: -2px;
    cursor: pointer;
}

.panel-minimal .panel-heading {
    padding: 10px 15px;
    border: 0px;
    font-weight: 600;
}

.input-group-addon,
.form-control {
    border: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
    background: $brand-white;
    cursor: pointer;
    padding: 0px 8px;
    height: 30px;
}

label{
    margin-bottom: 0px;
    margin-top: 10px;
}

.form-control:active,
.form-control:focus {
    box-shadow: none;
    outline: none;
}

.form-group label{
    margin: 0px;
}

.has-error.form-group label{
    color: $brand-danger;
}

.has-error .form-control,
.has-error .form-control:focus {
    border-color: $brand-danger;
    -webkit-box-shadow: none;
    box-shadow: none;
    
}

.form-control:focus{
    border-color: $brand-primary;
}

.far,
.fas{
    cursor: pointer;
}

.far:hover,
.fas:hover{
    color: $brand-primary;
}

.weak{
    font-weight: 400;
}

.control-title{
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    text-align: center;
    background-color: $gray-lighter;
    font-weight: 600;
    color: $brand-primary;
}

ol, ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.table-responsive{
    overflow: hidden;
}


.horizontal-form-group{
    margin-right: 15px;
    display: block;
    float: right;

    .control-label {
        float: left;
        margin-top:  5px;
        margin-right: 5px;
    }
    
    .form-control{
        float: left;
        margin-top:  0px;
        width: auto;
        font-size: 12px;
    }
}


.bill-graph{
    height: 333px;
    overflow: hidden;
}

.form-error{
    color: $brand-danger;
    font-size: 12px;
}


.error-message{
    border: 1px solid $brand-danger;
    color: $brand-danger;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    .hide-error{
        position: absolute;
        top: 2px;
        right: 0px;
        width: 20px;
        height: 20px;
        font-size: 13px;
        color: $brand-danger;
        i:hover{
            color: $brand-danger;
        }
    }
}

.form-control[disabled], 
.form-control[readonly],
 fieldset[disabled] .form-control {
    color: $gray-medium;
    background-color: $gray-lighter;
    border: 0px;
    opacity: 1;
}

.payment-editor{
    .form-control{
        padding-left: 8px;
    }
    .date-label{
        text-align: left;
    }
}