@import "variables";
@import "mixins";

/* Header
   ========================================================================== */
.user-info {
    &.ul{
        list-style: none outside none;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    &>li {
        float: left;
        margin-right: 3px;
    }

    &.notifications {
        color: #737881;
        display: block;
        position: relative;
    }

    &.notifications .dropdown i {
        font-size: 22px;
        position: absolute;
        right: 12px;
        top: 12px;
    }
}

.notifications{
    div {
        padding: 0px;
        @include border-radius(3px 3px 0 0);
    }

    .badge {
        font-size: 10px;
        line-height: 13px;
        min-width: 17px;
        padding: 2px;
        position: absolute;
        right: 6px;
        top: 6px;
        font-weight: normal;
    }

    .badge-info {
        background-color: $brand-danger;
    }

    .dropdown {
        cursor: pointer;
    }

    .dropdown-menu {
        margin-top: 5px;
        min-width: 180px;
        border-top-width: 0;
        z-index: 201;
        position: absolute;
        top: 34px;
        right: 0;
        width: 360px;
        @include border-radius(0 0 4px 4px);
    }

    .dropdown-menu .first {
        border-bottom: 1px solid #e3e1e1;
        display: block;
        font-size: 12px;
        margin: 0;
        padding: 0;
    }

    .dropdown-menu .danger {
        color: #ec5956;
    }

    .dropdown-menu .first .small {
        margin: 0;
        padding: 12px 18px;
    }

    .dropdown-list {
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: 290px;
        overflow: auto;
    }

    .dropdown-list li i {
        background-color: $gray-lighter;
        display: block;
        float: left;
        height: 20px;
        line-height: 10px;
        padding: 5px;
        text-align: center;
        width: 20px;
        margin-top: 6px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .dropdown-list .notification-success i {
        border-color: $brand-success;
        color: $brand-success;
    }

    .dropdown-list li {
        display: block;
        font-size: 12px;
        margin: 0;
        padding: 0;
        padding: 10px 10px;
        position: relative;
    }
    .block-line {
        display: block;
    }
}

.profile-info{
    &.dropdown>a {
        color: $gray;
    }

    &.dropdown .dropdown-menu>li:last-child {
        border-bottom: 0 none;
    }

    &.dropdown .dropdown-menu>.caret {
        border-bottom-color: #454a54;
        border-bottom-width: 4px;
        border-top-width: 0;
        left: 20px;
        margin-left: -2px;
        position: absolute;
        top: -4px;
    }

    .caret {
        border: 0 none;
        font-style: normal;
        height: auto;
        margin: -1px 3px 0 0px;
        text-align: center;
        width: auto;
    }

    .caret:after {
        content: "\f078";
        display: block;
        font-size: 9px;
        line-height: 1;
        font-family: $icon;
        font-weight: 900;
    }

    &.dropdown .dropdown-menu li div {
        color: $gray;
        padding: 8px 10px;
        @include transition(all 300ms ease-in-out 0s);
    }

    &.dropdown .dropdown-menu li div i {
        margin-left: 0;
        margin-right: 6px;
        width: 15px;
        height: 15px;
    }

    &.dropdown .dropdown-menu li div:hover {
        color: #333;
        background-color: #f8f8f8;
    }

    img.avatar {
        margin-left: 8px;
        height: 38px;
        width: 38px;
    }
    
    .dropdown-menu{
        .user-detailed-info {
            padding: 10px;
            background-color: $brand-white;
            color: $gray;
            text-align: center;
            width: 250px;
            div.avatar-container{
                margin: 30px auto 10px auto;
                width: 80px;
                padding: 0px;
                height: 80px;
                .avatar{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .divider{
            margin: 20px 0 6px 0;
        }
        li:not(.divider){
            min-height: 35px;
            padding: 0px 8px;
            margin-bottom: 5px;
            cursor: pointer;
            div:hover{
                background: transparent;
            }
            a,
            &>div{
                &:hover{
                    background: transparent;
                }
                font-weight: 600;
                transition: none;
            }
        }
    }
}

ul.list-links {
    padding-top: 10px;
    margin-left: 20px;
}

.dropdown-menu {
    left: inherit;
    right: 0;
    padding: 0px;
}



.open+.bg-fixed {
    display: block;
}

.dropdown-menu>li>a {
    padding: 0px;
}