@import 'mixins';

.keyword-editor{
    margin-right: 5px;
    margin-bottom: 5px;
    color: $brand-white;
    background-color: $brand-white;

    i:hover{
        color: $brand-danger;
    }

    i{
        font-size: 10px;
        margin-left: 5px;
        cursor: pointer;
    }
}
