@import "mixins";

.login-container {
    padding: 30px 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 460px;
    background-color: $brand-white;
    box-shadow: -17px 0 40px #000000ba;
}

.login-branding {
    margin: auto;
    padding: 30px 0;
    text-align: center;
    background-color: $brand-white;
    display: inline-block;
    width: 100%
}

.login-content {
    width: 350px;
    padding: 30px;
    font-size: $default-font-size;
    max-width: 90%;
    position: fixed;
    right: 50px;
    top: 40%;
    transform: translate(0, -50%);
}

.login-branding+h2 {
    text-align: center;
    clear: both;
    margin-bottom: 25px;
}

.login-avatar {
    text-align: center;
    margin-bottom: 20px;
}

.login-avatar img {
    width: 160px;
    height: 160px;
}

.login-content .input-group-addon [class^="icon-"],
.login-content .input-group-addon [class*=" icon-"] {
    margin: 0;
}

.login-content .form-control {
    border: 0 none;
    border-bottom: solid 2px #ccc;
    padding: 8px 0;
    font-size: 16px;
    @include border-radius(0);
    height: 36px;
    box-shadow: none;
}

.login-content .form-action {
    margin-top: 30px;
}

.login-content .btn {
    font-size: 16px;
    padding: 8px 12px;
}

.login-content a {
    color: $brand-primary
}

.login-content a:hover {
    color: $gray-base;
}

.login-bg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('/img/bg.jpg');
    background-size: cover;
}

.photo-copyright {
    position: absolute;
    bottom: 5px;
    left: 15px;
    font-size: 10px
}

.login-content h2 strong {
    color: $brand-primary;
}


@media screen and (max-width: 767px){
    .login-bg{
        background: none;
    }
    .login-content{
        width: 100%;
        max-width: 100%;
        right: 0;
        top: 50%;
    }
}