@import 'mixins';


.member-select{
    position: relative;
    height: 45px;
    margin-top: 10px;

	ul{
        background-color: $gray-lighter;
        position: absolute;
        right: 0;
        left: 0;
        z-index: 200;
        @include box-shadow(0px 2px 2px -1px #00000036);
        border: 1px solid $gray;
    }

	.member-item{
        position: relative;
        height: 35px;
        padding-left: 40px;
        padding-right: 5px;
        font-size: 11px;
        overflow: hidden;
        border-bottom: 1px solid $brand-white;
        cursor: pointer;
    }

	li:nth-child(even){
        background-color: $brand-white;
    }

	li:hover{
        color: $gray-dark;
    }

	label{
        font-size: 12px;
        border: 1px solid $gray-light;
        padding: 13px 4px;
        color: $gray;
        font-weight: 400;
        text-align: center;
        width: 100%;
        margin-top: 0px;
    }

	img.avatar{
        position: absolute;
        width: 25px;
        height: 25px;
        top: 5px;
        left: 5px;
    }

	p{
        position: absolute;
        top: 50%;
        left: 35px;
        right: 5px;
        transform: translate(0%, -50%);
    }

    .cancel{
        padding: 10px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        font-size: 11px;
        cursor: pointer;
    }

    &.active{
        position: relative;
        height: 45px;
        margin-top: 10px;
        background-color: #f5f5f5;
        border-radius: 2px;
    }
    
    &.active img.avatar{
        width: 30px;
        height: 30px;
        top: 9px;
        left: 5px;
    }
    
    &.active i{
        position: absolute;
        right: 10px;
        top: 50%;
        display: none;
        transform: translate(0, -50%);
        z-index: 2;
        color: $brand-white;
    }
    
    &.active i:hover{
        color: $brand-white;
    }
    
    &.active.hide-remove:hover i{
        display: none;
    }
    
    &.active:not(.hide-remove):hover:after{
        content: '';
        position: absolute;
        right: 0;
        width: 31px;
        bottom: 0px;
        top: 0;
        background-color: #555555e3;
    }
    
    &.active:hover i{
        display: block;
    }
    
    &.active p{
        left: 40px;
        right: 5px;
        font-size: 11px;
    }
}


