@import 'mixins.scss';

.tooltip-trigger {
    position: relative;
    display: inline-block;
    font-size: $default-font-size;

    .tooltip-text {
        visibility: hidden;
        min-width: 120px;
        background-color: $gray;
        color: $brand-white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 150%;
        left: 50%;
        transform: translate(-50%, 0px)
    }

    .tooltip-text::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $gray transparent;
    }

    &:hover .tooltip-text {
        visibility: visible;
    }
}